{% extends "KampongSiteBundle::layout.html.twig" %}
{% block slider %}
{{render(controller('KampongSiteBundle:Block:headBanner', {position:4}))}}    
{% endblock %}
    {% block body %}

    <div class="row">
        <div class="col-sm-9 col-sm-push-3">
            <aside id="sidebar" class="hidden-sm hidden-md hidden-lg">
                {{ render(controller("KampongSiteBundle:Block:leftMenu", {id:category.id})) }}
            </aside>
            <h2 class="title">{{category.title|raw}}</h2>
            <div class="product-block">
                <div class="row">
                    {% for food in foods%}
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="desc"><img src="{{asset("uploads/" ~ food.picture)|imagine_filter('food_list')}}" alt="{{food.title}}" class="img-responsive">
                                <div class="cta text-center">
                                    <p><a href="{{path('kampong_site_food_detail', {id:food.id, slug:food.slug})}}" role="button"><span>Xem chi tiết</span></a></p>
                                </div>
                            </div>
                            <div class="caption">
                                <h3><a href="{{path('kampong_site_food_detail', {id:food.id, slug:food.slug})}}" title="{{food.title|raw}}">{{food.title|raw}}</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {{paging|raw}}
        </div>
        <div class="col-sm-3 col-sm-pull-9">
            {% include "KampongSiteBundle:Block:search.html.twig" %}
            <aside id="sidebar" class="hidden-xs">
                {{ render(controller("KampongSiteBundle:Block:leftMenu", {id:category.id})) }}
            </aside>
            {{ render(controller("KampongSiteBundle:Block:leftBanner")) }}
        </div>
    </div>

{% endblock %}
