{% extends "KampongSiteBundle::layout.html.twig" %}
{% block slider %}
{{render(controller('KampongSiteBundle:Block:headBanner', {position:3}))}}    
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-9 col-sm-push-3">
            <h2 class="title">{{'Gallery'|trans}}</h2>
            <div class="product-block">
                <div class="row">
                    {% for image in images%}
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="desc"><img src="{{asset(image)|imagine_filter('gallery')}}" class="img-responsive">
                                <div class="cta text-center">
                                    <p><a class="group-cl" href="{{asset(image)}}" role="button"><span>Xem chi tiết</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-sm-pull-9">
            {% include "KampongSiteBundle:Block:search.html.twig" %}
            <aside id="sidebar">
                {{ render(controller("KampongSiteBundle:Block:leftMenu")) }}
            </aside>
            {{ render(controller("KampongSiteBundle:Block:leftBanner")) }}
        </div>
    </div>

{% endblock %}
{% block jsscript %}
    {{parent()}}
     <script src="{{asset('js/frontend/jquery.colorbox-min.js') }}"></script>
     <script>
         $(".group-cl").colorbox({rel:'group-cl', transition:"fade"});
    </script>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{asset('css/frontend/colorbox.css')}}">
{% endblock %}
