{% extends "KampongSiteBundle::layout.html.twig" %}
{% block slider %}
{{render(controller('KampongSiteBundle:Block:headBanner', {position:3}))}}    
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-sm-9 col-sm-push-3">
        <h2 class="title">{{detail.title|raw}}</h2>
        {{detail.longText|raw}}
    </div>
    <div class="col-sm-3 col-sm-pull-9">
        {% include "KampongSiteBundle:Block:search.html.twig" %}
        <aside id="sidebar">
            {{ render(controller("KampongSiteBundle:Block:leftMenu")) }}
        </aside>
        {{ render(controller("KampongSiteBundle:Block:leftBanner")) }}
    </div>
</div>
{%endblock%}
