<tr>
    <td>{{ form_widget(form.path) }}
    <a href="{{ asset('/uploads/media/' ~ form.path.vars.data) }}" class="fancybox-button" data-image data-rel="fancybox-button">
        <img class="img-responsive" src="{{ asset('uploads/products/' ~ form.path.vars.data) }}" alt="">
    </a>
    </td>
    <td><a href="javascript:;" data-href="{% if form.vars.value.id is defined %}{{path('admin_food_media_delete', {id:form.vars.value.id })}}{% endif %}" class="btn default btn-sm"> <i class="fa fa-times"></i> {{ 'Delete'|trans }}</a></td>
</tr>
