{% set site_settings = settings.getAll()%}
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"><img src="{{ asset('bundles/kampongsite/images/logo-footer.png')}}" alt="Logo" class="logo"/>
            </div>
            <div class="col-sm-4">
                <h2>{{'Contact us'|trans}}</h2>
                <div class="contact-detail">
                    {%if site_settings.footer_address is defined%}{{site_settings.footer_address|raw}}{%endif%}
                    <div class="item">
                        <p>{{'Email Enquiry'|trans}}: {%if site_settings.contact_email is defined%}{{site_settings.contact_email|raw}}{%endif%}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h2>{{'Rave Reviews'|trans}}</h2>
                <p style="font-size: 16px;">{%if site_settings.footer_about_us is defined%}{{site_settings.footer_about_us|raw}}{%endif%}</p>
                <p id="ratefooter"></p>
            </div>
            <div class="col-sm-3">
                <h2>{{'Open Hours'|trans}}</h2>
                <div class="list-hours">
                    {%if site_settings.footer_open_hours is defined%}{{site_settings.footer_open_hours|raw}}{%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bot">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-8">
                <copyright>© Copyright 2015 by KAMPONG. All Rights Reserved.</copyright>
            </div>
            <div class="col-xs-4 col-sm-4">
                <div class="social-tool text-right">
                    <ul class="list-inline">
                        <li><span>Share</span></li>
                        <li><a title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://kampong.akadigital.vn/iapp.php" class="fa fa-facebook"></a></li>
                        <li><a title="Twitter" href="http://twitter.com/share?text=Kampong" class="fa fa-twitter"></a></li>
                        <li><a title="Google plus" href="https://plus.google.com/share?url=http://kampong.akadigital.vn" class="fa fa-google-plus"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
