{% extends "KampongSiteBundle::layout.html.twig" %}

{%block head%}                 
        <title>{{detail.title}}</title>
        <meta name="description" content="{%if detail.metaContent !=''%}{{detail.metaContent}}{%else%}{{detail.shortText}}{%endif%}">
        <meta name="keywords" content="{{detail.metaKeywords}}">
  
        <meta property="og:title" content="{%if detail.metaTitle != ''%}{{detail.metaTitle}}{%else%}{{detail.title}}{%endif%}" />
        <meta property="og:description" content="{%if detail.metaContent !=''%}{{detail.metaContent}}{%else%}{{detail.shortText}}{%endif%}" />
        <meta property="og:type" content="article" />                                                                                                               
        <meta property="og:image" content="{{asset("uploads/" ~ detail.picture)|imagine_filter('food_list')}}" /> 
{%endblock%}


{% block slider %}
{{render(controller('KampongSiteBundle:Block:headBanner', {position:3}))}}    
{% endblock %}
    {% block body %}
    <div class="row">
        <div class="col-sm-9 col-sm-push-3">
            <h2 class="title">{{"News"|trans}}</h2>
            <div class="news-detail-block">
                <h3 class="new-title">{{detail.title|raw}}</h3>
                <div class="description">
                    {{detail.longText|raw}}
                </div>
            </div>
            <div class="other-news">
                <h2 class="title-2"><span>{{'Other News'|trans}}</span></h2>
                <div class="row">
                    {% for post in otherPosts%}
                        {% if post.id != postId%}
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <a href="{{path('kampong_site_news_detail', {id:post.id, slug:post.slug})}}" title="">
                                        {% if post.picture != ''%}
                                        <img src="{{asset("uploads/" ~ post.picture)|imagine_filter('othernews_thumb')}}" alt="new" class="media-object"/>
                                        {% else %}
                                        <img src="{{asset("bundles/kampongsite/images/upload/new-thumb.jpg")}}" alt="new" class="media-object"/>
                                        {% endif%}
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="desc">
                                        <h4 class="media-heading"><a href="{{path('kampong_site_news_detail', {id:post.id, slug:post.slug})}}" title="{{post.title|raw}}">{{post.title|raw}}</a></h4>
                                        <p>{{post.shortText|raw}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-sm-pull-9">
            {% include "KampongSiteBundle:Block:search.html.twig" %}
            <aside id="sidebar">
                {{ render(controller("KampongSiteBundle:Block:leftMenu")) }}
            </aside>
            {{ render(controller("KampongSiteBundle:Block:leftBanner")) }}
        </div>
    </div>

{% endblock %}
